body{
  background-color:hsla(184, 93%, 46%, 0.445)
}

.title{
   color: blue;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lateef', sans-serif;
}


label{
    font-size: 25px;
   
}
input{
     width: 70%;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
.note h4{
     border: solid red 2px;
     margin-right: 15%;
     margin-left: 15%;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Lateef', sans-serif;
}

.note p{
    background-color: yellow;
  color: red;
  font-size: 18px;
  font-weight: bold;

   
}



input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.note{
    text-align: center;
}
.input1{
  margin-right: 30px;
}
